// variables
$primary-color: #ffffff;
$font-stack: Helvetica, sans-serif;
$link-color: rgb(56, 103, 139);

body {
  background-color: $primary-color;
  font-family: $font-stack;

  header {
    height: 4rem;
  }

  main {
    //padding-top: 4rem; // the same with header
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }

  // nesting
  a {
    text-decoration: none !important;
    color: $link-color;
    &:hover {
      color: lighten($link-color, 30%);
      //text-decoration: underline !important;
    }
  }
}

.flash-notice {
  padding: 1rem; // p-4 in Tailwind equivalent
  margin-bottom: 1rem; // mb-4 in Tailwind equivalent
  font-size: .875rem; // text-sm in Tailwind equivalent
  border-radius: .5rem; // rounded-lg in Tailwind equivalent
  font-weight: 500; // font-medium in Tailwind equivalent
}

.flash-success {
  @extend .flash-notice;
  background-color: #48bb78; // green color
}

.flash-error {
  @extend .flash-notice;
  background-color: #f56565; // red color
}

.flash-warning {
  @extend .flash-notice;
  background-color: #ecc94b; // yellow color
}

.flash-info {
  @extend .flash-notice;
  background-color: #4299e1; // blue color
}