<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% @breadcrumbs.each_with_index do |breadcrumb, index| %>
      <li class="breadcrumb-item <%= 'active' if index == @breadcrumbs.size - 1 %>">
        <% if breadcrumb[:url] && index < @breadcrumbs.size - 1 %>
          <%= link_to breadcrumb[:title], breadcrumb[:url] %>
        <% else %>
          <%= breadcrumb[:title] %>
        <% end %>
      </li>
    <% end %>
  </ol>
</nav>